@model IEnumerable<Sube2.HelloMvc.Models.Ders>
@{
    ViewData["Title"] = "Ders Listesi";
}

<h1>Ders Listesi</h1>
<a asp-action="AddDers" asp-controller="Ders" class="btn btn-outline-primary">Ders Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Ders Adı</th>
            <th>Kredi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Dersad</td>
                <td>@item.Kredi</td>
                <td>
                    <a class="btn btn-sm btn-outline-success" href="/Ders/EditDers/@item.Dersid">Düzenle</a>
                    <a onclick="return confirm('Emin misiniz?')" class="btn btn-sm btn-outline-danger" href="/Ders/DeleteDers/@item.Dersid">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
